<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://product.jimistore.com/manual/padWbxEprzJTQHijYP7Xc3hWreWGnJGf" type="image/x-icon">
  <title>机蜜数据管理平台</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>
